<% if @results %>
    <% if @selected_tags %>
        <div class=pure-g>
            <div class=pure-u>
                <ul>
                    <% @selected_tags.each do |tag| %>
                        <li><%= tag %></li>
                    <% end %>
                </ul>
           </div>
       </div>
    <% end %>

    <div class=pure-g-r>
        <div class=pure-u-3-4>
            <ul>
                <% @results.limit(50).each do |result| %>
                    <li><%= result %></li>
                <% end %>
            </ul>
        </div>
        <div class="pure-u-1-4 total_calls">
            <div><%= @results.count() %></div>
        </div>
    </div>
<% else %>
    <p>No tags have been selected!</p>
<% end %>