<% if @results %>
    <% if @selected_tags %>
        <div class=pure-g>
            <div class=pure-u>
                <ul>
                    <% @selected_tags.each do |tag| %>
                        <li><%= tag %></li>
                    <% end %>
                </ul>
           </div>
       </div>
    <% end %>

    <div class=pure-g-r>
        <div class=pure-u-3-4>
            <div id="myChart" style="width: 1280px; height: 500px"></div>
            <script>
                $(document).ready(function(){
                    new Morris.Line({
                        element: 'myChart',
                        data: <%= @chart_data %>,
                        xkey: 'day',
                        xLabels: 'day',
                        xLabelFormat: function(x) { return moment(x).format("MMMM Do")},
                        ykeys: ['calls'],
                        labels: ['Calls']
                    });
                });
            </script>
        </div>
        <div class="pure-u-1-4 total_calls">
            <div><%= @total %></div>
        </div>
    </div>
<% else %>
    <p>No tags have been selected!</p>
<% end %>