<!DOCTYPE html>
  <head>
    <title>Tagger</title>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
      <%= css :app %>
  </head>
  <body>
    <%= partial :tag_selector %>
    <%= partial :tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <%= js :app %>
  </body>
</html>
