body {
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    background-color: #eaeaea;
}

ul, li {
    margin: 0;
    padding: 0;
}

.available_tags {
    display: none;
    position: absolute;
    background-color: black;
    margin-top: 30px;
    padding: 10px 1px;
}
.drop_down_button {
    float: right;
    width: 35px;
    height: 34px;
    margin-right: -5px;
    margin-top: -5px;
    cursor: pointer;
    background: #ffffff;
    border-left: 1px solid lightgray;
}

.drop_down_button .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid gray;
    top: 22px;
    position: relative;
    left: 12px;
}

.refresh_button {
    margin: 0 0 0 10px;
    padding: 0;
    border: 1px solid lightgray;
}

.refresh {
    height: 34px;
    width: 34px;
    background: url("/images/refresh.png") no-repeat center center;
    background-size: 22px;
    display: block;
}

#tags .tag_wrapper {
    width: 95%;
    cursor: pointer;
    position: relative;
    padding: 5px 5px 0 0;
    display: inline-block;
    background-color: white;
    border: 1px lightgray solid;
}

.selected_tag {
    border: none;
    text-align: center;
    background-color: #6285cb;
    color: white;
    border-radius: 3px;
    padding: 4px 10px;
    margin: 0px 0 5px 4px;
    float: left;
}

.available_tag {
    border: none;
    text-align: center;
    background-color: #6285cb;
    color: white;
    border-radius: 3px;
    padding: 4px 10px;
    margin: 0px 0 5px 4px;
    float: left;
    cursor: pointer;
}
.available_tag:hover {
    background-color: #567ECB;
}

.remove_selected_tag {
    cursor: pointer;
    margin-left: 8px;
    font-weight: bold;
}

.available_tag.disabled {
    cursor: default;
    background-color: #c3c1cb;
}

